@model PARiConnect.MVCApp.Models.Login

@{
    Layout = "_LayoutLogin";
}
<div class="d-flex justify-content-center my-4">
    <img alt="PARiConnect" class="" src="~/images/pic_logo_small.png" />
</div>
<div class="d-flex justify-content-center m-2">
    @await Component.InvokeAsync("DynamicForm", new { model = "Login"})
</div>