
@{
    ViewData["Title"] = "Report Page";
}


<div class="row">
    @*<div class="col-lg-2 par-bg-2 p-2 pt-3 bg-light">
            @await Component.InvokeAsync("ClinicianList")
            @await Component.InvokeAsync("GroupList")
        </div>*@

    <div class="col-lg-10 col-md-12">
        <div class="mt-2">
            @await Component.InvokeAsync("ReportTable")
        </div>
    </div>
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("_GridScriptsPartial"); }
}