
@{
    ViewData["Title"] = "Report Page";
}


<div class="row">
    @*<div class="col-lg-2 par-bg-2 p-2 pt-3 bg-light">
            @await Component.InvokeAsync("ClinicianList")
            @await Component.InvokeAsync("GroupList")
        </div>*@

    <div class="col-lg-10 col-md-12">
        <div class="mt-2">
            @await Component.InvokeAsync("ReportTable")
        </div>
    </div>
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {

            $.tablesorter.addParser({
                id: 'last-name',
                is: function (s) {
                    return false;
                },
                format: function (str) {
                    var parts = (str || '').split(/\s+/),
                        last = parts.pop();
                    parts.unshift(last);
                    return parts.join(' ');
                },
                // set type, either numeric or text
                type: 'text'
            });
            $(".sortable").tablesorter();


            $(".search-input").keyup(function () {

                var value = this.value;
                //searchTables(value);
            });

            $(".firstLastToggle").click(function (e) {
                $(".name-header").toggleClass("sorter-last-name");
                $(".tablesorter").trigger("update");
                if ($(".name-header").hasClass("sorter-last-name")) {
                    $(".first").text("L");
                    $(".last").text("F");
                }
                else {
                    $(".first").text("F");
                    $(".last").text("L");
                }
            });

    </script>
}