<table class="table table-hover sortable w-100">
    <thead class="table-header">
        <tr class="table-row">
            <th class="table-row-start">Client</th>
            <th>Assessment</th>
            <th>Updated</th>
            <th>Status</th>
            <th class="table-row-end"></th>
        </tr>

    </thead>

    <tr class="table-row">
        <td class="table-row-start">Jill Smith</td>
        <td>CAB Form </td>
        <td>12/15/2017</td>
        <td>Completed</td>
        <td class="table-row-end"></td>
    </tr>
    <tr class="table-row">
        <td class="table-row-start">Eve Jackson</td>
        <td>CAD Form</td>
        <td>11/22/2017</td>
        <td>Completed</td>
        <td class="table-row-end"></td>
    </tr>
</table>