<div class="card small mt-3">
  <div class="card-block p-2">
    <span class="card-title font-weight-bold">Need Help</span>
    <div class="card-body">
        <div class="d-flex flex-column">

        </div>
    </div>
  </div>
</div>
