<div class="card small mt-3">
  <div class="card-block p-2">
    <span class="card-title font-weight-bold">Need Help?</span>
    <div class="card-body">
        <div class="d-flex flex-column font-size-md">
            <a class="my-1" href="">
                How do I create a new client?
            </a>
            <a class="my-1" href="">
                How do I issue an assessment?
            </a>
            <a class="my-1" href="">
                What's the difference between iAdmins and report credits?
            </a>
            <a class="my-1" href="">
                How do I bulk import clients?
            </a>
            <a class="my-1" href="">
                Where do I purchase more credits and iAdmins?
            </a>
        </div>
    </div>
  </div>
</div>
