<div class="card small ">
    <div class="card-header font-weight-bold">
            Recently Accessed Clients and Groups
    </div>
    <div class="card-body">
    <div class="d-flex flex-column">
        @foreach (var recentlyAccessed in Model.RecentlyAccessed)
        {
        <div class="m-1 border-bottom">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="" class="ml-2">@recentlyAccessed.ClientName</a>
            <small class="more-muted-text font-italic float-right ">@recentlyAccessed.Updated</small>
        </div>
        }
    </div>
    </div>
</div>
