
@{
    ViewData["Title"] = "Client Page";
}


<h1>Client Page</h1>

<table class="table table-hover tablesorter sortable">
  <thead>
    <tr>
      <th class="sorter-last-name">
          Name
          </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alex Adams</td>
    </tr>
    <tr>
      <td>Robert (Bob) Rover</td>
    </tr>
    <tr>
      <td>Bruce Black</td>
    </tr>
    <tr>
      <td>Catelyn Cruz</td>
    </tr>
    <tr>
      <td>Adam (Dave) Francis</td>
    </tr>
    <tr>
      <td>Elaine Evans</td>
    </tr>
  </tbody>
</table>