
@{
    ViewData["Title"] = "Client Page";
}
<div class="row">
    <div class="col-lg-2 par-bg-2 p-2 pt-3 bg-light">
        @await Component.InvokeAsync("ClinicianList")
        <!-- @await Component.InvokeAsync("GroupList") -->
    </div>

    <div class="col-lg-10 col-md-12">
        <div class="mt-2">
            @await Component.InvokeAsync("ClientTable")
        </div>
    </div>
</div>
@await Component.InvokeAsync("DynamicForm", new { model = "ClientEdit"})
@await Component.InvokeAsync("DynamicForm", new { model = "GroupEdit"})
@section scripts {
    @{await Html.RenderPartialAsync("_GridScriptsPartial"); }
}    