
@{
    ViewData["Title"] = "Client Page";
}
<div class="row">
    <div class="col-lg-2 par-bg-2 p-2 pt-3 bg-light">
      <div class="pt-3">
        <div class="card small ">
          <div class="card-header font-weight-bold">
            Clinician <a href="#" class="float-right "><small>select all</small></a>
          </div>
            <div class="card-block p-2">
              <div class="card-body">
                <div class="d-flex flex-column">

                </div>

              </div>

            </div>
        </div>
      </div>
      <div class="pt-3">
        <div class="card small">
          <div class="card-header font-weight-bold">
            Group <a href="#" class="float-right "><small>select all</small></a>
          </div>
            <div class="card-block p-2">
              <div class="card-body">
                <div class="d-flex flex-column">

                </div>

              </div>

            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-12">





        <div class="mt-2">
            @await Component.InvokeAsync("ClientTable")
        </div>
    </div>
</div>
    