
@{
    ViewData["Title"] = "Client Page";
}
<div class="row">
    <div class="col-lg-2 par-bg-2 p-2 pt-3 bg-light">
        @await Component.InvokeAsync("ClinicianList")
        <!-- @await Component.InvokeAsync("GroupList") -->
    </div>

    <div class="col-lg-10 col-md-12">
        <div class="mt-2">
            @await Component.InvokeAsync("ClientTable")
        </div>
    </div>
</div>
@await Component.InvokeAsync("DynamicForm", new { model = "ClientEdit"})
@await Component.InvokeAsync("DynamicForm", new { model = "GroupEdit"})
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.tablesorter.addParser({
                id: 'last-name',
                is: function(s) {
                return false;
                },
                format: function(str) {
                var parts = (str || '').split(/\s+/),
                    last = parts.pop();
                parts.unshift(last);
                return parts.join(' ');
                },
                // set type, either numeric or text
                type: 'text'
            });
            $(".sortable").tablesorter();  

            $(".search-input").keyup(function () {

                var value = this.value;
                $(".searchable").find("tr").each(function (index) {
                    //if (index === 0) return;
                    var rowMatch = false;
                    $(this).find("td").each(function (index) {
                        if ($(this).text().toUpperCase().indexOf(value.toUpperCase()) !== -1)
                            rowMatch = true;
                    });
                    $(this).toggle(rowMatch);
                });
            });

            $(".firstLastToggle").click(function(e){
                $(".name-header").toggleClass("sorter-last-name");
                $(".tablesorter").trigger("update");
                if($(".name-header").hasClass("sorter-last-name")){
                    $(".first").text("L");
                    $(".last").text("F");
                }
                else{
                    $(".first").text("F");
                    $(".last").text("L"); 
                }
            });

            $(".clinicianCheckbox").click(function(e){
                        var classId = $(this).val();
                        $("." + classId).removeClass("d-none");
                        $("." + classId).toggle(this.checked);
             });
            $(".groupCheckbox").click(function(e){
                        var classId = $(this).val();
                        $("." + classId).removeClass("d-none");
                        $("." + classId).toggle(this.checked);
             });
            $("#clientCheckAll").click(function(e){
                if($(this).is(':checked'))
                    $(".clientCheck").prop('checked', true);
                else
                    $(".clientCheck").prop('checked', false);
            });
    });


            
    </script>
}    