
@{
    ViewData["Title"] = "Client Page";
}


<h1>Client Page</h1>

<table class="table table-hover tablesorter sortable">
  <thead>
    <tr>
      <th class="name-header sorter-last-name">
          Name <button class="sortChange"><i class="fa fa-exchange" aria-hidden="true"></i></button>
          </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="name">Alex Adams</td>
    </tr>
    <tr>
      <td class="name">Robert (Bob) Rover</td>
    </tr>
    <tr>
      <td class="name">Bruce Black</td>
    </tr>
    <tr>
      <td class="name">Catelyn Cruz</td>
    </tr>
    <tr>
      <td class="name">Adam (Dave) Francis</td>
    </tr>
    <tr>
      <td class="name">Elaine Evans</td>
    </tr>
  </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {



            $.tablesorter.addParser({
                id: 'last-name',
                is: function(s) {
                return false;
                },
                format: function(str) {
                var parts = (str || '').split(/\s+/),
                    last = parts.pop();
                parts.unshift(last);
                return parts.join(' ');
                },
                // set type, either numeric or text
                type: 'text'
            });
            $(".sortable").tablesorter();
            $(".sortChange").click(function(e){
                console.log('sortChange');
                $(".name-header").toggleClass("sorter-last-name");
                $(".tablesorter").trigger("update");
            });
            $(".searchToggle").click(function(e){
                    $(".search-toggle").toggle();
            }); 
        });
        </script>
}
    