
@{
    ViewData["Title"] = "Client Page";
}
<div class="row">
    <div class="col-lg-2 par-bg-2 p-2 pt-3 bg-light">
        @await Component.InvokeAsync("ClinicianList")
        @await Component.InvokeAsync("GroupList")
    </div>

    <div class="col-lg-10 col-md-12">
        <div class="mt-2">
            @await Component.InvokeAsync("ClientTable")
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {         
            $(".clinicianCheckbox").click(function(e){
                        var classId = $(this).val();
                        $("." + classId).removeClass("d-none");
                        $("." + classId).toggle(this.checked);
                    });
            });
            
    </script>
}    