@model PARiConnect.MVCApp.ViewModels.InventoryUseListViewModel

<div class="container popover-container scrollbar" id="style-4">
    <div class="row table-header">
        <div class="col-8">
            Assessment
        </div>
        <div class="col-4 text-center">
            Uses Left
        </div>
    </div>
    <div class="force-overflow">
     @foreach (var invUse in Model.InventoryUseList)
    {   
    <div class="row popover-row pb-1">
        <div class="col-12">
            <span class="popover-row-header">@invUse.ProductName</span>
        </div>

            <div class="col-8 pl-4">
                Score Report
            </div>
            <div class="col-4 text-center">
                4
            </div>
    </div>
    }
    </div>
</div>




