@{
    ViewData["Title"] = "Assess Page";
}

<h1>Assess Page</h1>
<div class="row">
    <div class="col-4">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#cabModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CAB Demo
        </button>
    </div>
        @await Component.InvokeAsync("DynamicForm", new { model = "CAB"})
</div>


@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}