@model PARiConnect.MVCApp.ViewModels.ClientViewModel
<table class="table table-hover sortable w-100 tablesorter">
    <thead class="table-header">
        <tr class="table-row">
            <th class="table-row-start">
                <input type="checkbox" value="" id="clientCheck" />
<!--                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="clientCheck">
                </div> -->
            </th>
            <th class="client">
                <div class="header-text mb-1">Client</div>
            </th>
            <th class="clientId">
                <div class="header-text mb-1">Client Id</div>
            </th>
            <th class="email">
                <div class="header-text mb-1">Email</div>
            </th>
            <th class="clinician table-row-end">  
                <div class="header-text mb-1">Clinician</div>
            </th>
        </tr>
    </thead>
    <tbody class="searchable">

    @foreach (var client in Model.Clients)
    {
        <tr class="table-row">
            <td class="table-row-start">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="clientCheck">
                </div>
            </td>
            <td class="">
                <span class="table-row-header">@client.ClientName</span>
            </td>
            <td>@client.ClientId</td>
            <td>@client.Email</td>
            <td class="table-row-end">
            </td>
        </tr>
    }
    </tbody>
</table>