<div class="alert alert-danger alert-dismissable">
    <div class="d-flex">
        <div>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="mx-2">
            Inventory is low
        </div>
        <div class="ml-auto alert-link">
            <a href="#">
                <small>View Inventory</small>
            </a>
        </div>
<!--         <div class="ml-auto">
            <a class="close" (click)="removeAlert(alert)">&times;</a>
        </div> -->
    </div>
</div>
<div class="alert alert-success alert-dismissable">
    <div class="d-flex">
        <div>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="mx-2">
            Undistibuted uses
        </div>
        <div class="ml-auto alert-link">
            <a href="#">
                <small>Distribute Uses</small>
            </a>
        </div>
<!--         <div class="ml-auto">
            <a class="close" (click)="removeAlert(alert)">&times;</a>
        </div> -->
    </div>
</div>
