@model PARiConnect.MVCApp.ViewModels.NotificationsViewModel
<div class="alert alert-danger @(Model.IsInventoryLow ? "" : "d-none")">
    <div class="d-flex flex-row">
        <div>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="mx-2">
            Inventory is low
        </div>
        <div class="ml-auto alert-link">
             <a href="#" 
                         id="inventory"
                         data-toggle="popover" 
                         data-container="body" 
                         data-placement="bottom" 
                         data-html="true">
                 <small>View Inventory</small>
            </a>
        </div>
    </div>
</div>
<div class="alert alert-success alert-dismissable @(Model.IsDistributable ? "" : "d-none")">
    <div class="d-flex flex-row">
        <div>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="mx-2">
            Undistributed uses
        </div>
        <div class="ml-auto alert-link">
             <a href="#" 
                         id="undistributed"
                         data-toggle="popover" 
                         data-container="body" 
                         data-placement="bottom" 
                         data-html="true">
                 <small>Distribute Uses</small>
            </a>
        </div>
    </div>
</div>

<div id="popover-content-inventory" style="display:none;">
     @await Component.InvokeAsync("Inventory")
</div>
<div id="popover-content-undistributed" style="display:none;">
     @await Component.InvokeAsync("Undistributed")
</div>
