  <form asp-area="" asp-controller="Clients" asp-action="Create" method="post">
    <div class="d-flex flex-row">
      <div class="form-group">
        <label for="clientId">Client ID:</label>
        <input type="text" class="form-control" id="clientId" placeholder="123abc">
      </div>
        
    </div>
    <div class="d-flex flex-row">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="Jerry">
      </div>
      <div class="form-group ml-3">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Nolan">
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input type="date" class="form-control" id="birthday" placeholder="1/1/2018">
      </div>
      <div class="form-group ml-3">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" placeholder="5">
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" class="form-control">
          <option>Default select</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="form-group">
        <label for="primaryEmail">Primary Email:</label>
        <input type="email" class="form-control" id="primaryEmail" placeholder="sample@mail.com">
      </div>
      <div class="form-group ml-3">
        <label for="secondaryEmail">Secondary Email:</label>
        <input type="email" class="form-control" id="secondaryEmail" placeholder="sample@mail.com">
      </div>
    </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Save changes</button>
    </div>
  </form>

