@{
    ViewData["Title"] = "Home Page";
}
@model PARiConnect.MVCApp.ViewModels.HomeIndexViewModel
<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="col mt-4 clearfix">
            <div class="float-left">
                <h4 class="title-1">Welcome to PARiConnect</h4>
            </div>
            <div class="float-right">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#clientEditModal">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Add New Client
                    </button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div id="add-dropdown-menu" class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#clinicianAddModal">Add New Clinician</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#groupEditModal">Add New Group</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#pending" role="tab">Pending Assessments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#completed" role="tab">Completed Assessments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="pending" role="tabpanel">
                <div class="mt-2">
                    @await Component.InvokeAsync("AssessmentReview", new { completed = false })
                </div>
            </div>
            <div class="tab-pane" id="completed" role="tabpanel">
                <div class="mt-2">
                    @await Component.InvokeAsync("AssessmentReview", new { completed = true })
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 par-bg-2 p-2 pt-3 bg-light">
        <div>
            @await Component.InvokeAsync("Notifications", new { completed = true })
        </div>
        <div>
            @await Component.InvokeAsync("RecentlyAccessed", new { completed = true })
        </div>
        <div>
            @Html.Partial("_HelpMenu")
        </div>
    </div>
</div>
@await Component.InvokeAsync("DynamicForm", new { model = "ClientEdit"})
@await Component.InvokeAsync("DynamicForm", new { model = "GroupEdit"})
@await Component.InvokeAsync("DynamicForm", new { model = "ClinicianInvite"})
@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("_GridScriptsPartial"); }
}
