@{
    ViewData["Title"] = "Home Page";
}
@model PARiConnect.MVCApp.ViewModels.HomeIndexViewModel
<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="col my-4 clearfix">
            <div class="float-left">
                <span class="par-welcome-text text-muted">Welcome to PARiConnect</span>
            </div>
            <div class="float-right">
                <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Add New Client
                </button>

            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#pending" role="tab">Pending Assessments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#completed" role="tab">Completed Assessments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="pending" role="tabpanel">
                <div class="mt-2">
                    @await Component.InvokeAsync("AssessmentReview", new { completed = false })
                </div>
            </div>
            <div class="tab-pane" id="completed" role="tabpanel">
                <div class="mt-2">
                    @await Component.InvokeAsync("AssessmentReview", new { completed = true })
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 par-bg-2 p-2">
        <alerts></alerts>
        <app-recent-accessed></app-recent-accessed>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        add/edit client here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Selectors for future use

            $(".sortable").tablesorter();

            $(".search-input").keyup(function () {

                var value = this.value;
                $(".searchable").find("tr").each(function (index) {
                    if (index === 0) return;
                    //var id = $(this).find("td").first().text();
                    var rowMatch = false;

                    $(this).find("td").each(function (index) {
                        if ($(this).text().toUpperCase().indexOf(value.toUpperCase()) !== -1)
                            rowMatch = true;
                        //console.log($(this).text());
                    });
                    $(this).toggle(rowMatch);
                });
            });
        }
        );
    </script>
}
