@{
    ViewData["Title"] = "Demo Page";
}

<h1>Demo Page</h1>
<div class="row">
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#aabModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            AAB
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "AAB" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#apsModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            APS
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "APS" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#briefModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            BRIEF
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "BRIEF" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#brief2Modal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            BRIEF2
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "BRIEF2" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#cabModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CAB Parent
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CAB" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#cadModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CAD
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CAD" })

</div>
<div class="row">
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#capiModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CAPI
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CAPI" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#champModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            ChAMP
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CHAMP" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#cpciModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CPCI
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CPCI" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#csbiModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CSBI
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CSBI" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#ctiModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CTI
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CTI" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#ecbiModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            ECBI
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "ECBI" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#eddtModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            EDDT
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "EDDT" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#famModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            FAM
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "FAM" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#farModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            FAR
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "FAR" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#frsbeModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            FRSBE
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "FRSBE" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#kldaModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            KLDA
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "KLDA" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#memryModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            MEMRY
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "MEMRY" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#pbrsModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            PBRS
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "PBRS" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#pssModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            PSS
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "PSS" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#radsModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            RADS-2
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "RADS" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#raitModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            RAIT
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "RAIT" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#rcds2Modal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            RCDS-2
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "RCDS2" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#sdsModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            SDS
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "SDS" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#searsAModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            SEARS A
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "SEARSA" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#sipaModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            SIPA
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "SIPA" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#siqModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            SIQ
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "SIQ" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#sopaModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            SOPA
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "SOPA" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#spectraModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            SPECTRA
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "SPECTRA" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#staxi2Modal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            STAXI2
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "STAXI2" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#tograModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            TOGRA
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "TOGRA" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#tsccModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            TSCC
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "TSCC" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#tsi2Modal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            TSI2
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "TSI2" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#wsaModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            WSA
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "WSA" })

</div>

@section scripts {
    @{await Html.RenderPartialAsync("_CommonScriptsPartial"); }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}