@{
    ViewData["Title"] = "Demo Page";
}

<h1>Demo Page</h1>
<div class="row">
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#aabModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            AAB
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "AAB" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#cabModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CAB Parent
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "CAB" })
    <div class="col-2">
        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#cadModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            CAD
        </button>
    </div>
    @await Component.InvokeAsync("DynamicForm", new { model = "APS" })
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_CommonScriptsPartial"); }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}