
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Titles */
.title-1{
    color: #E1E1E1;
    font-size: 2em;
}

/* Backgrounds */
.bg-header {
    background: #f1f1f1;
}

/* Font and Text*/
.font-size-md{
    font-size: 1.1em;
    font-weight: 600;
}

.more-muted-text{
    color: #c9c9c9;
}

/* Borders */
.border-bottom {
    border-bottom: 1px solid lightgrey;
}

/*Nav Styling*/
.nav-link {
    font-weight: 600;
}
#nav-dropdown-menu{
    left:-100px;
}

/* Scrollbar */
/*
 *  STYLE 4
 */
 .scrollbar
 {
     height: 535px;
     background: #F5F5F5;
     overflow-y: scroll;
 }
 
 .force-overflow
 {
     min-height: 450px;
 }
 #style-4::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar-thumb
 {
     background-color: #888;
     border: 2px solid #555555;
 }


/* Button Links */
.btn-link:focus,
.btn-link:active:focus{
    outline:none;
}

.btn-link:focus{
    text-decoration:none;
}
.btn-link:hover{
    text-decoration:none;
}


/*Table Styling*/
.table {
    border-collapse: separate;
    border-spacing: 0px 20px;
}

.table-header {
    max-height: 50px;
    font-size: smaller;
    font-weight: 600;
    background: #f1f1f1;
    /* background: #005596;
    color: white; */
}

.table-header th {
    padding: 2px 5px;
}

.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}

.table-row {
    background: #fafafa;
}

.table-row-header {
    font-weight: 600;
    color: #007bff;
}

.table-row-start {
    border-left: 1px solid #e9ecef;
}


.table-row-start-completed {
    border-left: solid 8px #a8ffa8;
}

.table-row-start-notcompleted {
    border-left: solid 8px #ffa8a8;
}

.table-row-end {
    border-right: 1px solid #e9ecef;
}

/*Table Sort Styling*/

th.header {
    background-image: url(../img/small.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

    .tablesorter-headerDesc .tablesorter-header-inner .header-text:after {
        content: "  \f107"; /* this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;
    }

    .tablesorter-headerAsc .tablesorter-header-inner .header-text:after {
        content: "  \f106"; /* this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;
    }

    .table-toggle{
        padding-top: 0px;
        padding-bottom: 0px;

    }

/*Forms Styling*/

.input-validation-error{
    border: red 1px solid;
}

.input-group-text{
    width: 42px;
}
/* Popover */
.popover{
    font-size: small;
    max-width: 300px;
    width: 300px;
}


.popover-body{
    padding-left: 0px;
    padding-right: 0px;
    height: 550px;
    max-height: 550px;
}



.popover-container{
/*     height: 600px;
    max-height: 600px;
    overflow-y: auto; */
}

.popover-header{
    max-height: 50px;
    font-size: smaller;
    font-weight: 600;
    background: #f1f1f1;
}

.popover-row{
    max-height: 50px;
    font-size: small;
    font-weight: 600;
    background: #fafafa;
}

.popover-row-header{
    font-size: smaller;
    font-weight: 700;
}